.card {
    height: 254px;
    width: 180px;

    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    border-radius: 8px;
}

.card-container {
    display: flex;
    flex-direction: column;

    justify-content: space-evenly;
}

.card-image {
    height: 98px;
    left: 16px;

    margin-top: 10%;
    
    border-radius: 4px;
}

.card-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: start;
    margin: 5% 0;

    color: #FFFFFF;
}

.card-info {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;

    color: #FFFFFF;
}

.card-info:last-child {
    margin-bottom: 10%;
}

.card-info-bold {
    font-weight: 500;
}

@media (min-width: 600px) {
    .card {
        margin: 0;
        height: 220px;
        width: 163px;
    }

    .card-title {
        font-size: 12px;
    }

    .card-info {
        font-size: 10px;
    }
}